{% extends 'base.html.twig' %}

{% block title %}New DetectionDrone{% endblock %}

{% block body %}
    <h1>Create new DetectionDrone</h1>

    {{ include('detection_drone/_form.html.twig') }}

    <a href="{{ path('app_detection_drone_index') }}">back to list</a>
{% endblock %}
