{% extends 'base.html.twig' %}

{% block title %}New Zonep{% endblock %}

{% block body %}
    <h1>Create new Zonep</h1>

    {{ include('zonep/_form.html.twig') }}

    <a href="{{ path('app_zonep_index') }}">back to list</a>
{% endblock %}
