{% extends 'base.html.twig' %}

{% block title %}Edit MissionDrone{% endblock %}

{% block body %}
    <h1>Edit MissionDrone</h1>

    {{ include('mission_drone/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_mission_drone_index') }}">back to list</a>

    {{ include('mission_drone/_delete_form.html.twig') }}
{% endblock %}
