{% extends 'base.html.twig' %}

{% block title %}Edit Survzone{% endblock %}

{% block body %}
    <h1>Edit Survzone</h1>

    {{ include('survzone/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_survzone_index') }}">back to list</a>

    {{ include('survzone/_delete_form.html.twig') }}
{% endblock %}
