{% extends 'base.html.twig' %}

{% block title %}New Survzone{% endblock %}

{% block body %}
    <section class="glass-card">
        <div class="card-header">
            <div>
                <h2 class="card-title">Create new Survzone</h2>
                <p class="card-subtitle">Ajouter un nouveau suivi de zone.</p>
            </div>
        </div>

        {{ include('survzone/_form.html.twig') }}
    </section>
{% endblock %}
