{% extends 'base.html.twig' %}

{% block title %}New Evenement{% endblock %}

{% block body %}
    <section class="glass-card">
        <div class="card-header">
            <div>
                <h2 class="card-title">Create new Evenement</h2>
                <p class="card-subtitle">Ajouter un nouvel evenement.</p>
            </div>
        </div>

        {{ include('evenement/_form.html.twig') }}
    </section>
{% endblock %}
