<form method="post" action="{{ path('app_observation_delete', {'id_observation': observation.id_observation}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ observation.id_observation) }}">
    <button class="btn btn-secondary" type="submit">Delete</button>
</form>
