{% extends 'base.html.twig' %}

{% block title %}New Observation{% endblock %}

{% block body %}
    <section class="glass-card">
        <div class="card-header">
            <div>
                <h2 class="card-title">Create new Observation</h2>
                <p class="card-subtitle">Ajouter une nouvelle observation.</p>
            </div>
        </div>

        {{ include('observation/_form.html.twig') }}
    </section>
{% endblock %}
