<form method="post" action="{{ path('app_action_nettoyage_delete', {'id_action': action_nettoyage.id_action}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ action_nettoyage.id_action) }}">
    <button class="btn">Delete</button>
</form>
