{% extends 'base.html.twig' %}

{% block title %}New ActionNettoyage{% endblock %}

{% block body %}
    <section class="glass-card">
        <div class="card-header">
            <div>
                <h2 class="card-title">Create new ActionNettoyage</h2>
                <p class="card-subtitle">Ajouter une nouvelle action de nettoyage.</p>
            </div>
        </div>

        {{ include('action_nettoyage/_form.html.twig') }}
    </section>
{% endblock %}
