{% extends 'base.html.twig' %}

{% block title %}Edit Dechet{% endblock %}

{% block body %}
    <h1>Edit Dechet</h1>

    {{ include('dechet/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_dechet_index') }}">back to list</a>

    {{ include('dechet/_delete_form.html.twig') }}
{% endblock %}
