{% extends 'base.html.twig' %}

{% block title %}New Dechet{% endblock %}

{% block body %}
    <h1>Create new Dechet</h1>

    {{ include('dechet/_form.html.twig') }}

    <a href="{{ path('app_dechet_index') }}">back to list</a>
{% endblock %}
