{% extends 'base.html.twig' %}

{% block title %}New Volontaire{% endblock %}

{% block body %}
    <section class="glass-card">
        <div class="card-header">
            <div>
                <h2 class="card-title">Create new Volontaire</h2>
                <p class="card-subtitle">Ajouter un nouveau volontaire.</p>
            </div>
        </div>

        {{ include('volontaire/_form.html.twig') }}
    </section>
{% endblock %}
