<form method="post" action="{{ path('app_faune_marine_delete', {'id_animal': faune_marine.id_animal}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ faune_marine.id_animal) }}">
    <button class="btn">Delete</button>
</form>
