{% extends 'base.html.twig' %}

{% block title %}New FauneMarine{% endblock %}

{% block body %}
    <section class="glass-card">
        <div class="card-header">
            <div>
                <h2 class="card-title">Create new FauneMarine</h2>
                <p class="card-subtitle">Ajouter une nouvelle espece.</p>
            </div>
        </div>

        {{ include('faune_marine/_form.html.twig') }}
    </section>
{% endblock %}
