<form method="post" action="{{ path('app_prediction_echouage_delete', {'id_prediction': prediction_echouage.id_prediction}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ prediction_echouage.id_prediction) }}">
    <button class="btn">Delete</button>
</form>
