{% extends 'base.html.twig' %}

{% block title %}New PredictionEchouage{% endblock %}

{% block body %}
    <h1>Create new PredictionEchouage</h1>

    {{ include('prediction_echouage/_form.html.twig') }}

    <a href="{{ path('app_prediction_echouage_index') }}">back to list</a>
{% endblock %}
