{% extends 'base.html.twig' %}

{% block title %}New PredictionEchouage{% endblock %}

{% block body %}
    <section class="glass-card">
        <div class="card-header">
            <div>
                <h2 class="card-title">Create new PredictionEchouage</h2>
                <p class="card-subtitle">Ajouter une nouvelle prediction de risque.</p>
            </div>
        </div>

        {{ include('prediction_echouage/_form.html.twig') }}
    </section>
{% endblock %}
